<!-- poder seleccionar cual token transferir (dropdown) -->
@if (locked()) {
  <span class="loading loading-ring loading-lg"></span>
  <p>{{ status() }}...</p>
} @else {

  <form #form="ngForm" class="w-[400px]" (ngSubmit)="onSubmit(form)">

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Moneda</mat-label>
      <mat-select
        placeholder="Placeholder"
        [(ngModel)]="model.token"
        name="token"
        #tokenControl="ngModel"
        required
      >
        @for (token of tokens(); track token) {
          <mat-option [value]="token">
            <img [src]="token.info.image" class="rounded-full w-8 h-8" />
            <span>
              {{ token.info.symbol }} - {{ token.balance }}
            </span>
          </mat-option>
        }      
      </mat-select>

      @if (form.submitted && tokenControl.errors) {
        <mat-error>
          @if (tokenControl.errors["required"]) { La moneda es obligatoria. }
        </mat-error>
      } @else {
        <mat-hint>Token</mat-hint>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Monto</mat-label>
      <input
        matInput
        placeholder="Monto a pagar"
        name="amount"
        type="number"
        min="0"
        [max]="tokenControl.value?.balance"
        [(ngModel)]="model.amount"
        #amountControl="ngModel"
        required
      />
      <mat-icon matSuffix>attach_money</mat-icon>
      
      @if (form.submitted && amountControl.errors) {
        <mat-error>
          @if (amountControl.errors["required"]) { El monto es obligatorio. }
          @else if (amountControl.errors["min"]) { El monto debe ser mayor a cero. }
          @else if (amountControl.errors["max"]) { Saldo insuficiente: {{ tokenControl.value.balance }}. }
        </mat-error>
      } @else {
        <mat-hint>Monto de la transferencia</mat-hint>
      }
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Destinatario</mat-label>
      <input
        name="receiverAddress"
        matInput
        type="text"
        placeholder="Destinatario (clave pública de la wallet)"
        #receiverAddressControl="ngModel"
        [(ngModel)]="model.receiverAddress"
        required
      />
      <mat-icon matSuffix>key</mat-icon>
      
      @if (form.submitted && receiverAddressControl.errors) {
        <mat-error>
          @if (receiverAddressControl.errors["required"]) { El destinatario es obligatorio. }
        </mat-error>
      } @else {
        <mat-hint>Wallet de Solana</mat-hint>
      }
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label>Concepto</mat-label>
      <input name="memo" matInput type="text" placeholder="Pagar recibo"
        #memoControl="ngModel" [(ngModel)]="model.memo" required />
      <mat-icon matSuffix>description</mat-icon>
    
      @if (form.submitted && memoControl.errors) {
      <mat-error>
        @if (memoControl.errors["required"]) { El concepto es obligatorio. }
      </mat-error>
      } @else {
      <mat-hint>Motivo de la transferencia</mat-hint>
      }
    </mat-form-field>

    <footer class="flex justify-center">
      <button type="submit" mat-raised-button color="primary">
        Enviar
      </button>
      <button type="button" mat-raised-button color="warn" (click)="onCancel()">
        Cancelar
      </button>
    </footer>
  </form>
}
